.icons {
  font-size: 30px;
  display: flex;
  flex-direction: row;
}

.flex {
  display: flex;
}

.icons > div {
  margin: 0px 20px 0px 20px;
}

#note {
  opacity: 0.5;
  display: flex;
  cursor: pointer;
  transition: ease-in-out 0.3s;
}

#note:hover {
  opacity: 1;
}

#map-icon {
  opacity: 0.5;
  display: flex;
  cursor: pointer;
  transition: ease-in-out 0.3s;
}

#map-icon:hover {
  opacity: 1;
}

#bird {
  opacity: 0.5;
  display: flex;
  cursor: pointer;
  transition: ease-in-out 0.3s;
}

#bird:hover {
  opacity: 1;
}
